{% extends "base.html" %}
{% block content %}

<h2>Select Unit for {{ subject }}</h2>

{% if units|length == 0 %}
    <p class="text-danger mt-3">No quizzes available for this subject yet.</p>
{% endif %}

{% for u in units %}
    <a href="{{ url_for('take_quiz_unitwise', subject=subject, unit=u) }}" 
       class="btn btn-outline-info w-100 mt-2">
        {{ u }}
    </a>
{% endfor %}

<a href="{{ url_for('quiz_subjects') }}" class="btn btn-secondary mt-3">⬅ Back to Subjects</a>

{% endblock %}
